<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
</head>
<body>
<h1>Welcome to Bears & Bulls</h1><br>
<input id="text" name="text" type="text"><br>
<div class="button">
    <input type="button" value="Enter"/>
    <input type="button" value="Reset"/>
</div>
<div>

 <textarea cols="50" rows="5" style="overflow:scroll;">
 Yeahh my gamme is working..........
  </textarea>
</div>
<div class="button">
    <input onclick="location.href ='http://127.0.0.1:8000/endgame/'" type="button" value="Quit"/>
</div>

</body>
</html>