<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        .parent {
            border: 1px solid black;
            margin: 1rem;
            padding: 2rem 2rem;
            text-align: center;
        }

        .child {
            display: inline-block;
            border: 1px solid red;
            padding: 1rem 1rem;
            vertical-align: middle;
        }

        .title {
            text-align: center;

        }
    </style>
    <meta charset="UTF-8">
    <title>Pregame</title>
</head>
<body>
<h1 class="title">CUSTOMIZE YOUR GAME</h1>
<div class='parent'>
    <div class='child'>Select player mode:<br>
        <select id="player" name="player">
            <option value="single">Single</option>
            <option value="duo">Duo</option>
        </select>
    </div>
    <div class='child'>Select Difficulty level:<br>
        <select id="difficulty" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
    <div class='child'>Select Word-Length:<br>
        <select id="length" name="length">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
</div>

<div class="button">
    <input onclick="location.href ='http://127.0.0.1:8000/game/'" type="button" value="Start"/>
</div>
</body>
</html>